.container
  .row
    .col-xs-12.col-sm-10.col-md-8.col-lg-8
        h2
          | Модуль&nbsp;
          = @task.position
          |.&nbsp;
          = @task.title
.container
  .row
    div class="col-xs-12 col-sm-12 col-md-8 col-lg-12"
      .task
        .col-lg-offset-4
          h3
            = "#{@passing.user.last_name} #{@passing.user.first_name} #{@passing.user.father_name}"
            br
            | Ваш результат:
            = " #{@passing.points.to_i}%"
          - if @task.main && @passing.points.to_i < 80
            h4 Вы не сдали.
          h4
            | Вы ответили на &nbsp
            = @user_questions.count
            | &nbsp вопросов из &nbsp
            = @task.questions_number
          h4
            | Количество правильных ответов:
            = " #{@right_answers}"
        - if (current_user.email == 'q@q.ru') || !@task.main
          table class='table table-bordered'
            thead
              tr
                th Вопрос
                th Результат
                th Правильный ответ
            tbody
              - @user_questions.each do |key, value|
                tr
                  td = Question.find(key).text
                  td = value ? 'Правильно' : 'Неправильно'
                  td = Question.find(key).answer_options.find_by(right: true).text
        = link_to 'На главную', episodes_path, class: 'btn btn-success'

