.container.alerts
  .row
    .col-lg-12
      .bs-component
        - if @task.timer.persisted?
          div id="time-left"
            .alert.alert-danger.alert-dismissible.text-center
              button type="button" class="close" data-dismiss="alert"&times;
              p
                | Внимание! Это задание на время. На выполнение у вас &nbsp;
                strong
                  span.show-time-in-hours
                  span.show-time-in-minutes
                  span.show-time-in-seconds
          div id="time-is-out"
            .alert.alert-danger.alert-dismissible.text-center
              button type="button" class="close" data-dismiss="alert"&times;
              p
                | К сожалению,&nbsp;
                strong
                  | время на выполнение истекло.&nbsp;


.container
  .row
    .col-xs-12.col-sm-10.col-md-8.col-lg-8
        h2
          | Лекция&nbsp;
          = @task.position
          |.&nbsp;
          = @task.title

.container
  .row
    .col-xs-12.col-sm-10.col-md-8.col-lg-8.narration
      .content
        p
          = @task.content.html_safe

.container
  .row
    .col-xs-12.col-sm-12.col-md-8.col-lg-8
      - flash.each do |key, value|
        - if key == "error"
          = content_tag :div, value, class: "alert alert-danger"
.container
  .row
    div class="col-xs-12 col-sm-12 col-md-8 col-lg-8"
      .task
        p
          = simple_form_for :passing, url: passings_path, id: 'test-form', method: :post do |f|
            = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
            = f.input :task_id, as: :hidden, input_html: { value: @task.id }
            - @task.questions.each_with_index do |question, index|
              = "#{index+1}. #{question.text}"
              - if question.question_type == "OptionQuestion"
                = f.input :answers, as: :check_boxes, label_method: :text, value_method: :id, collection: question.answer_options.shuffle, label: false

            = f.button :submit, "Закончить", class: "btn btn-info btn-lg"
        - if @task.timer.persisted?
          = hidden_field_tag :current_time, DateTime.current
          = hidden_field_tag :attempt_time, @attempt.created_at.to_datetime
          = hidden_field_tag :timer_value_in_seconds, @task.timer.value_in_minutes.minutes

footer
  .container
    .row
      .col-xs-12.col-sm-10.col-md-8.col-lg-8
        .foottext
          p
            | Прогресс по курсу&nbsp;
            span
              = @task.episode.title
          .progress
            div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: #{current_user.progress(@task.episode)}%;"
