= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|

  = f.input :reset_password_token, as: :hidden
  = f.full_error :reset_password_token

  .form-group
    = f.input :password, placeholder: "Введите новый пароль", required: true, autofocus: true, label: false, input_html: { class: 'form-control' }

  .form-group
    = f.input :password_confirmation, placeholder: "Введите новый пароль еще раз", label: false, required: true, input_html: { class: 'form-control' }

  = f.button :submit, "Сменить пароль", class: "btn btn-lg btn-success btn-block"

  = render "devise/shared/links"
