= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|

  .form-group
    = f.input :email, required: true, autofocus: true, label: false, input_html: { class: 'form-control' }, placeholder: 'Эл.почта'

  = f.button :submit, "Отправьте мне инструкции", class: "btn btn-lg btn-success btn-block"

  = render "devise/shared/links"
