doctype html
html
  head
    meta charset="utf-8" /
    meta content="IE=edge" http-equiv="X-UA-Compatible" /
    title Outline &mdash; A Free HTML5 Responsive Template by FREEHTML5.CO
    /! Google Webfonts
    link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" /
    link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic,cyrillic-ext" rel="stylesheet" /
    css:
       * {
       font-family: 'Open Sans', sans-serif;

      }

      .button {
       border-radius: 5px;
       background-color: #99cc66;
       color: #fff;
       padding: 10px;
       display: inline-block;
       transition: 0.3s ease-out;
       cursor: pointer;

      }


      .box_title {
       font-size: 28px;
       color: #000000;
       margin-left: 35px;
      }

      a {
        color: black;
        text-decoration: none;
      }

      .box_description {
       font-size: 16px;
       color: #777;
       font-weight: 300;
       margin-top: 10px;
       margin-left: 35px;
       margin-right: 35px;
      }

      .box {
       padding: 20px;
       width: 1130px;
       display: inline-block;
       border-radius: 6px;
       border: 1px solid #ddd;
       box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
       margin-bottom: 30px;
       margin-top: 20px;
      }

      .box:hover{
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.33);
      }

      .align {
       text-align: right;
       margin-top: 20px;

      }
  body
    .col-xs-12.col-sm-12.col-md-8.col-lg-8 style='display: flex; justify-content: center; align-items: center;'
      .task
        h2 Добро пожаловать в систему дистанционного обучения МАОТ !
        br/
        h5 Сообщите нам об успешной регистрации в системе для получения доступа к программам обучения
        br/
        h6 Телефон для связи 8 (843) 526-60-41, e-mail для связи: maot.kazan@mail.ru
        br/
        
          
    - @active_episodes.each do |episode|
      .container style='margin-top: 25px'
        .box
          .box_title = link_to episode_path(episode) do
            = episode.position
            | .&nbsp
            = episode.title
          .box_description = episode.content.html_safe
          .align
            = link_to 'Пройти обучение', episode_path(episode), class: 'btn btn-success'

/- @active_episodes.each do |episode|
/  .container
/    .row
/      .col-xs-12.col-sm-12.col-md-12.col-lg-12
/        h2
/          | Курс&nbsp;
/          = episode.position
/          | .&nbsp;
/          = episode.title
/
/    .row
/      .col-xs-12.col-sm-8.col-md-8.col-lg-6.narration
/        p
/          = episode.content.html_safe

    /.row
    /  .col-xs-12.col-sm-10.col-md-10.col-lg-10.navigation
    /    table class="table table-hover mytable"
    /      tbody
    /        - episode.tasks.each do |task|
    /          - if task.completed?(current_user)
    /            tr class="checked"
    /              th scope="row"
    /              td
    /                | §&nbsp;
    /                = task.position
    /                | .&nbsp;
    /                = link_to task.title, task_path(task)
    /
    /          - else
    /            tr
    /              th scope="row"
    /              td
    /                | §&nbsp;
    /                = task.position
    /                | .&nbsp;
    /                = link_to task.title, task_path(task)
/
/
/- @inactive_episodes.each do |episode|
/  .container
/    .row
/      .col-xs-12.col-sm-12.col-md-12.col-lg-12
/        h2.light-grey
/          | Эпизод&nbsp
/          = episode.position
/          | .&nbsp
/          = episode.title
