.container
  .row style='margin-left: 300px; margin-top: 30px'
    .col-xs-12.col-sm-10.col-md-8.col-lg-8
      h2
        | Курс&nbsp;
        |:&nbsp;
        = @episode.title
.container style='margin-top: 20px'
  .row
    .col-xs-12.col-sm-10.col-md-10.col-lg-10.navigation
      table class="table table-hover mytable"
        tbody
          - @tasks.each do |task|
            - if task.completed?(current_user)
              tr class="checked"
                th scope="row"
                td
                  | §&nbsp;
                  = task.position
                  | .&nbsp;
                  = link_to task.title, task_path(task), style: 'color: black; text-decoration: none;'
            - elsif task.main
              tr
                th scope="row"
                td
                  | §&nbsp;
                  = task.position
                  | .&nbsp;
                  = link_to task.title, caution_path(task_id: task.id), style: 'color: black; text-decoration: none'
            - else
              tr
                th scope="row"
                td
                  | §&nbsp;
                  = task.position
                  | .&nbsp;
                  = link_to task.title, task_path(task), style: 'color: black; text-decoration: none'
  = link_to 'На главную', episodes_path, class: 'btn btn-success'