.container
  .row style='margin-top: 50px'
    div class="col-xs-12 col-sm-12 col-md-8 col-lg-8"
      .task 
        h4 Это ИТОГОВОЕ тестирование, подтвердите начало его выполнения
        br
        = link_to 'Приступить', task_path(@task), class: 'btn btn-success'