.container
  .row
    div class="col-xs-12 col-sm-12 col-md-8 col-lg-8"
      .task
        h4 Наши контакты
        br
        Полное наименование организации: Межрегиональная ассоциация охраны труда

        Сокращенное наименование организации: МАОТ

        Председатель ассоциации Габдрахманов Фанил Исхакович действует на основании Устава


        Почтовый адрес: 420094, Республика Татарстан, г.Казань, ул.Маршала Чуйкова, дом 15 Б, а/я 66

        Наименование банка:  ПАО «АК БАРС» БАНК г.Казань

        БИК 049205805

        ИНН 1658069483

        КПП 165701001

        ОКПО 93075154

        ОГРН 1051633108295

        р.с 40703810045470000002

        к.с 30101810000000000805


        Тел, факс: (843) 520-75-44/ 526-60-41