.container
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      p Спасибо!
      p Вы прошли все существующие эпизоды.
      p
        | Новые задания будут доступны&nbsp;
        =l @episode.start_at, format: :event_time if @episode.start_at

      p
        | Вы можете посмотреть список &nbsp;
        = link_to "выполненных заданий", episodes_url

