#lightbox
  #box
    a.close href="" style='opacity: 1;'
      = simple_form_for :letter, url: new_letter_path, method: :post do |f|
        = f.input :name, placeholder: 'Имя', id: 'name'
        = f.input :phone, placeholder: 'Телефон', id: 'phone'
        = f.input :course, collection: ['Охрана труда', 'ПТМ'], include_blank: true, label: 'Укажите интересующую программу'

        = f.submit 'Оставить заявку', id: 'submit'