= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group
     = f.input :email, label: false, required: false, autofocus: true, input_html: { class: 'form-control' }, placeholder: 'Эл.почта'

  .form-group
    = f.input :password, label: false, required: false, input_html: { class: 'form-control' }, placeholder: 'Пароль'

  .checkbox
    = f.input :remember_me, label: "Запомнить меня", as: :boolean if devise_mapping.rememberable?

  = f.button :submit, "Войти" , class: 'btn btn-lg btn-success btn-block'

  = render "devise/shared/links"
