* {
	font-family: sans-serif;
}

/*  General CSS*/
.wrapper{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}


.billboard .caption a,
.billboard .caption a i,
.subscription a.start_btn,
.subscription a.start_btn2,
.social a,
footer .f_cols a,
footer .f_cols ul li a,
.recent_work a.work_title,
header nav ul li a,
#box #submit{
	transition:all .2s linear;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
}



/*  Header  */
header{
	width: 100%;
	height: 130px;
	background-color: #ffffff;
	z-index: 9999;
}

header .logo{
	margin-top: 30px;
	display: inline-block;
}

header nav{
	float: right;
}

header nav ul{
	list-style: none;
	display: block;
}

header nav ul li{
	float: left;
	margin: 57px 0 0 20px
}

header nav ul li a{
	color: #4d4d4d;
	text-decoration: none;
	font-size: 16px;
	border-bottom: 1px #ffffff solid;
}

header nav ul li a:hover{
	border-bottom: 1px #4d4d4d solid;
}



/*  Billoard  */


.billboard .caption{
	margin-top: 230px;
}

.billboard .caption .cap_title{
	font-family: 'Open Sans';
	font-weight: 800;
	font-size: 60px;
	color: #fff;
	margin-bottom: 30px;
	text-align: center;
}

.billboard .caption .cap_desc{
	font-family: sans-serif;
	font-size: 22px;
	color: #fff;
	margin-bottom: 60px;
}

.billboard .caption a{
	font-family: sans-serif;
	padding: 15px 70px;
	background: #E28A3C;
	color: #fff;
	font-size: 19px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;

	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}

.billboard .caption a:hover{
	background: #ffffff;
	color: #4d4d4d;
}

/*  Services  */
.services h4{
	font-family: sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #4d4d4d;
	text-transform: uppercase;
	text-align: center;
	padding: 50px 0;
	padding-bottom: 40px;
}

.services ul{
	list-style: none;
	display: block;
	margin: 100px 0;
	text-align: center;
	overflow: hidden;
}

.services ul li{
	float: left;
	width: 346px;
	margin-right: 80px;
}

.services ul li:last-child{
	margin-right: 0;
}

.services ul li .s_icons,
.services ul li h3{
	margin-bottom: 20px;
}

.services ul li h3{
	font-family: sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #4d4d4d;
	text-transform: uppercase;
	letter-spacing: normal;
}

.services ul li p{
	color: #727272;
	font-size: 17px;
	line-height: 22px;
}

.work_us {
	background: #4f4d58;
	height: 900px;
	text-align: center;
}

.work_us h4 {
	font-family: sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding: 60px 0;
	padding-bottom: 30px;
}

.work_us .work_text {
	color: #fff;
	text-align: center;
	width: 90%;
	display: inline-block;
}


.work_us .work_content_block:nth-child(1) {
	margin-top: 30px;
	margin-left: 10px;
}

.work_us .work_content_block {
	width: 390px;
	display: inline-block;
	vertical-align: top;
}

.work_us .work_content_block:nth-child(2) {
	margin-top: 110px;
}

.work_us .work_content_block .img {
	display: inline-block;
	vertical-align: middle;
	background: #ffffff;
	border-radius: 90px;
	padding: 25px;

	border: 4px solid #48474d;
	transition: background 0.3s linear;
}

.work_us .work_content_block .img:hover {
	background: rgba(207, 244, 81, 0.95);
}

.work_us .work_content_block img {
	width: 40px;
}

.work_us .work_content_block .work_content_block_text {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}

.work_us .work_content_block .work_content_block_text .work_content_block_text_name {
	text-align: left;
	color: #fff;
	font-size: 24px;
	margin-bottom: 10px;
}

.work_us .work_content_block .work_content_block_text .work_content_block_text_desc {
	width: 250px;
	text-align: left;
	font-size: 14px;
	line-height: 1.3;
	color: #fff;
}

/*  Recent work  */
.recent_work{
	margin-bottom: 100px;
	overflow: hidden;
}

.recent_work h3.S_title{
	font-family: sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #4d4d4d;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 60px;
}

.recent_work .work{
	width: 262px;
	height: 320px;
	overflow: hidden;
	position: relative;
	margin-right: 50px;

}

.recent_work .work:last-child{
	margin-right: 0;
}

.recent_work a.work_img{
	width: 262px;
	height: 320px;
	background: red;
	position: relative;
}


.recent_work a.work_title{
	font-family: sans-serif;
	display: inline-block;
	text-decoration: none;
	width: 262px;
	background: rgba(59, 59, 59, .8);
	position: relative;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	text-align: center;
	padding: 25px 0;
	bottom: 0;
}

.recent_work .work:hover a.work_title{
	bottom: 66px;
}

/*  Subscription  */
.subscription{
	width: 100%;
	padding: 40px 0 40px 0;
	background: #f5f5f5;
	border-top: 1px #e7e7e7 solid;
	border-bottom: 1px #e7e7e7 solid;
	text-align: center;
}

.subscription .title{
	font-weight: 700;
	font-size: 30px;
	color: #4d4d4d;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.subscription .desc{
	font-weight: 300;
	font-size: 20px;
	color: #717171;
	margin-bottom: 60px;
}

.subscription a.start_btn{
	padding: 10px 40px;
	margin: 10px 0;
	color: #4d4d4d;
	border: 2px #4d4d4d solid;
	text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;

	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}

.subscription a.start_btn:hover{
	background: #E28A3C;
	color: #f5f5f5;
}


.subscription a.start_btn2{
	padding: 10px 40px;
	margin: 10px 0;
	color: #4d4d4d;
	border: 2px #4d4d4d solid;
	text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;

	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}

.subscription a.start_btn2:hover{
	background: #E28A3C;
	color: #f5f5f5;
}


.documentation {
	text-align: center;
	padding: 60px 0;
}

.documentation .doc_tit {
	font-weight: 700;
	font-size: 30px;
	color: #4d4d4d;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.documentation .doc_desc {
	font-weight: 400;
	font-size: 17px;
	color: #4d4d4d;
	margin-bottom: 15px;
}

.documentation img {
	width: 250px;
	margin-right: 15px;
}

/*  Footer  */
footer{
	background: #3b3b3b;
	padding: 50px 0;
	overflow: hidden;
}

footer .f_cols{
	width: 270px;
	height: auto;
	float: left;
	margin-left: 40px;
}

footer .f_cols:first-child{
	margin-left: 0;
}

footer .f_cols h3{
	font-weight: 700;
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

footer .f_cols p{
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 1px;
	color: #ebebeb;
	margin-bottom: 20px;
}

footer .f_cols span.phone{
	display: block;
	font-weight: 600;
	color: #ebebeb;
}

footer .f_cols a{
	display: inline-block;
	color: #b5b5b5;
}

footer .f_cols a:hover{
	color: #ebebeb;
}

footer .f_cols ul li{
	list-style: none;
	margin-bottom: 6px;
}


footer .f_cols ul li a{
	text-decoration: none;
	color: #ebebeb;
	font-family: sans-serif;
	font-weight: 500;
	border-bottom: 1px #3b3b3b solid;
}


footer .f_cols ul li a:hover{
	border-bottom: 1px #ebebeb solid;
	font-family: sans-serif;
}



/*  Subscription pop-up  */
#lightbox{
	background: rgba(0, 0, 0, .8);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden!important;
	z-index: 9900;
}

#box{
	width: 400px;
	height: 350px;
	background: #fff;
	position: fixed;
	display: none;
	text-align: center;
	z-index: 9999;
}

#box form{
	padding: 75px 0;
}

#box #phone,
#box #name{
	display: block;
	width: 215px;
	height: 50px;
	background: #ffffff;
	border: 1px #edebeb solid;
	margin: 0 auto 10px auto;
	padding: 0 20px;
	outline: none;
	color: #424242;
}

#box #submit{
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #fff;
	color: #424242;
	border: 2px #424242 solid;
	padding: 15px 54px;
	margin-top: 20px;
	outline: none;
}

#box #submit:hover{
	cursor: pointer;
	color: #fff;
	background: #E28A3C;
	border: 2px #424242 solid;
}

::-webkit-input-placeholder {
	color: #d1d0d0;
}

:-moz-placeholder { /* Firefox 18- */
	color: #d1d0d0;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #d1d0d0;
}

:-ms-input-placeholder {
	color: #d1d0d0;
}



/*  DESCRIPTION BOX */
#descriptbox{
	background: rgba(0, 0, 0, .8);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden!important;
	z-index: 9900;
}

#dbox{
	width: 600px;
	height: 450px;
	background: #fff;
	position: fixed;
	display: none;
	text-align: center;
	z-index: 9999;
	font-family: sans-serif;
	border: 1px #edebeb solid;
}

#dbox form {
	padding: 75px 0;
}

::-webkit-input-placeholder {
	color: #d1d0d0;
}

:-moz-placeholder { /* Firefox 18- */
	color: #d1d0d0;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #d1d0d0;
}

:-ms-input-placeholder {
	color: #d1d0d0;
}

.recent_work {
	text-align: center;
}

.recent_work .work {
	margin: 0 20px;
	display: inline-block;
}


@media only screen and (max-width: 1030px) {
	.wrapper {
		width: 100%;
	}

	.wrapper img {
		max-width: 100%;
	}

	header {
		text-align: center;
	}

	header .logo {
		vertical-align: middle;
	}

	header nav {
		display: inline-block;
		margin: 0 20px;
		margin-top: 30px;
		float: none;
		vertical-align: middle;
	}

	header nav ul li {
		display: inline-block;
		padding: 0 15px !important;
		float: none !important;
		margin: 0;
	}

	.billboard {
		width: 100%;
		height: 400px;
		margin-top: 30px;
		text-align: center;
		background-size: cover;
		position: relative;
		overflow: hidden;
	}

	.billboard .caption {
		margin-top: 30px;
	}

	.billboard .caption .cap_title {
		font-weight: 700;
		font-size: 36px;
		color: #fff;
		margin-bottom: 30px;

		text-align: center;
	}

	.billboard .caption .cap_desc {
		font-size: 20px;
		color: #fff;
		margin-bottom: 40px;
		width: 90%;
		display: inline-block;
	}

	.billboard .caption a {
		padding: 10px 20px;
		background: #E28A3C;
		display: inline-block;
	}

	.services ul {
		list-style: none;
		display: block;
		margin: 50px 0;
		text-align: center;
		overflow: hidden;
	}

	.services ul li {
		float: none;
		width: 260px;
		margin: 0;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 60px;
	}

	.services ul li h3 {
		font-weight: 700;
		font-size: 20px;
		color: #4d4d4d;
		text-transform: uppercase;
		letter-spacing: normal;
	}

	.recent_work {
		margin-bottom: 100px;
		text-align: center;
		overflow: hidden;
		margin-bottom: 40px;
	}

	.recent_work .S_title {
		margin-bottom: 60px;
	}

	.recent_work .work {
		width: 220px;
		height: 340px;
		overflow: hidden;
		display: inline-block;
		position: relative;
		margin-right: 0;
		margin: 0 10px;
		margin-bottom: 40px;
	}

	.recent_work .work:last-child {
		margin-right: 10px;
	}

	.recent_work .work:hover a.work_title{
		bottom: 0;
	}

	.recent_work a.work_img {
		width: 262px;
		height: 320px;
		background: red;
		position: relative;
	}

	.recent_work a.work_title {
		display: inline-block;
		text-decoration: none;
		width: 100%;
		background: rgba(59, 59, 59, .8);
		position: relative;
		font-family: sans-serif;
		font-weight: 500;
		font-size: 16px;
		color: #fff;
		text-align: center;
		padding: 25px 0;
		bottom: 0;
	}

	.subscription {
		margin: 40px 0;
		margin-bottom: 0;
	}

	.subscription .title {
		font-size: 24px;
	}

	.subscription .desc {
		font-size: 18px;
	}

	footer {
		background: #3b3b3b;
		padding: 50px 0;
		overflow: hidden;
		text-align: center;
	}

	footer .f_cols {
		width: 270px;
		height: auto;
		display: inline-block;
		margin-bottom: 50px;
		float: none;
		margin-left: 0;
		vertical-align: top;
	}

	#box {
		margin-left: -130px;
		width: 260px;
	}

	#box #submit {
		padding: 15px 22px;
	}

	#dbox {
		width: 260px;
		margin-left: -130px;
	}

}


@media only screen and (max-width: 1200px) {
	.work_us .work_content {
		display: inline-block;
		margin-top: 80px;
		height: auto;
		background: none;
	}

	.work_us .work_content:nth-child(4) {
		padding-bottom: 0;
	}


	.work_us {
		height: 1150px;
	}

	.work_us .work_content_block .img {
		padding: 20px;
	}

	.work_us .work_content_block .work_content_block_text .work_content_block_text_desc {
		width: 200px;
	}

	.work_us .work_content_block {
		margin-bottom: 40px;
	}

	.work_us .work_content_block:nth-child(2) {
		margin-top: 0;
	}

	.work_us .work_content_block {
		width: 100%;
	}

	.work_us .work_content_block:nth-child(1) {
		margin-top: 0;
		margin-left: 0;
	}

	.documentation img {
		width: 260px;
	}
}