@import "active_admin/mixins";
@import "active_admin/base";
@import "jquery.datetimepicker";
@import "selectize";
@import "selectize.default";
@import "activeadmin-ajax_filter";

.cke_chrome {
  width: 79.5% !important;
  overflow: hidden;
}


.hidden {
  display: none;
}
