html {
  width: 100%;
  height: 100%;
}

html, body {
  min-height: 100%;
}

body {
  height: 100%;
  height: auto;
  position: relative;
  min-height: 100%;
}



.footer-align-bottom {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

div {
    /*background-color: rgba(0,0,225,0.05);*/
}

h1 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 36pt;
    margin-top: 30px;
    margin-bottom: 50px;
}
h2 {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 20pt;
    margin-top: 30px;
    margin-bottom: 20px;
}

p {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 12pt;
    margin-top: 0;
}
.form-group {
  margin-bottom: 15px;
}

.form-group label{
  margin-left: 18px;
}

.form-control{
  margin-bottom: 0px;
}
.alert{
  color: red;
}
.alert.alert-success {
  color: #66911d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.notice{
  color: #449d44;
  margin-top: 10px;
}

img {
    max-width: 100%;
}
.header p {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 14pt;
    line-height: 1.4;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #CCCCCC;
}
.narration {
    /*    margin-top: 10px;*/
    margin-bottom: 20px;
    line-height: 1.8;
}

.narration h2{
  color: #fff;
}
.narration img{
    margin-bottom: 0px;
}
.comix {
    display: inline-block;
    position: relative;
}
.comix span {
    display:inline-block;
    position:absolute;
    max-width: 40%;
    max-height: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    right:30px;
    top:30px;
    background-color: rgba(255,255,255,0.4);
    /*    text style*/
    color: #868686;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 12pt;
    line-height: 1.6;
    text-align: center;
}
.alarm{
    text-align: center;
    /*  margin-top: 10px;*/
}

.custom_head {
  height: 100px;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
  background: rgba(255, 255, 255, 0.0);
}
.task {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 35px;
    margin-top: 10px;
    line-height: 1.8;
    background-color: #f9f5e4;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.radio-group {
    margin-bottom: 25px;
}

.navigation a{
  text-decoration: underline;
}
.mytable {
  margin-bottom: 60px;
}
.mytable th{
  text-align: center;
  width: 40px;
}
tr.checked span {
  display: none;
}
tr.checked th {
  background: font-url("check.png") no-repeat center 9px;
  background-size: 15px;
}
tr.checked:hover span{
  display: block;
}
tr.open span {
  display: none;
}
tr.open:hover span{
  display: block;
}
tr.locked span {
  display: none;
}
tr.locked:hover span{
  display: block;
}
tr.locked:hover th {
  background: font-url("lock.png") no-repeat center 9px;
  background-size: 15px;
}
tr.addnew span {
  display: none;
}
tr.addnew:hover span{
  display: block;
  padding-left: 18px;
}


@media (max-width: 600px) {
    h4 {
        font-size: 12pt !important;
    }
    .task {
        margin-top: 0px !important;
    }
    .comix span {
        min-width: 40% !important;
        min-height: 80px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
        /*    text style*/
        font-size: 10pt !important;
        font-family: 'Roboto',sans-serif !important;
    }
    .table td{
        font-family: 'Roboto',sans-serif !important;
        font-size: 14px !important;
    }
}
.col-sm-6.col-md-4.col-lg-4.hidden-xs a {
  text-decoration: none;
}
.grey {
  display: inline-block;
  color: #cecece;
  font-weight: 200;
}

li {
  margin-top: 10px;
}

.alert {
  padding: 0;
}
