/*из бутстраповской темы*/

body>.navbar {
  -webkit-transition: background-color 300ms ease-in;
  transition: background-color 300ms ease-in;
}

@media (min-width:768px) {
  body>.navbar-transparent {
    background-color: transparent;
  }

  body>.navbar-transparent .navbar-nav>.open>a {
    background-color: transparent !important;
  }
}

#home {
  padding-top: 0;
}

#home .navbar-brand {
  padding: 13.5px 15px 12.5px;
}

#home .navbar-brand>img {
  display: inline;
  margin: 0 10px;
  height: 100%;
}

#banner {
  min-height: 300px;
  border-bottom: none;
}

.page-header h1 {
  font-size: 4.2em;
}

.page-header h2 {
  font-size: 3.0em;
}

.bs-docs-section {
  margin-top: 0;
}

.bs-component {
  position: relative;
}

.bs-component .modal {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  z-index: 1;
  display: block;
}

.bs-component .modal-dialog {
  width: 90%;
}

.bs-component .popover {
  position: relative;
  display: inline-block;
  width: 220px;
  margin: 20px;
}

#source-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  font-weight: 700;
}

.nav-tabs {
  margin-bottom: 15px;
}

/*.progress {
    margin-bottom: 10px;
}
footer {
    margin: 5em 0;
}
footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

footer p {
    clear: left;
    margin-bottom: 0;
}*/

.splash {
  padding: 9em 0 2em;
  background-color: #141d27;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
}

.splash .logo {
  width: 160px;
}

.splash h1 {
  font-size: 3em;
}

.splash #social {
  margin: 2em 0;
}

.splash .alert {
  margin: 2em 0;
}

.section-tout {
  padding: 4em 0 3em;
  border-bottom: 1px solid rgba(0,0,0,.05);
  background-color: #eaf1f1;
}

.section-tout .fa {
  margin-right: .5em;
}

.section-tout p {
  margin-bottom: 3em;
}

.section-preview {
  padding: 4em 0;
}

.section-preview .preview {
  margin-bottom: 4em;
  background-color: #eaf1f1;
}

.section-preview .preview .image {
  position: relative;
}

.section-preview .preview .image:before {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  pointer-events: none;
}

.section-preview .preview .options {
  padding: 1em 2em 2em;
  border: 1px solid rgba(0,0,0,.05);
  border-top: none;
  text-align: center;
}

.section-preview .preview .options p {
  margin-bottom: 2em;
}

.section-preview .dropdown-menu {
  text-align: left;
}

.section-preview .lead {
  margin-bottom: 2em;
}

@media (max-width:767px) {
  .section-preview .image img {
    width: 100%;
  }
}

.sponsor {
  text-align: center;
}

.sponsor a:hover {
  text-decoration: none;
}

@media (max-width:767px) {
  .splash {
    padding-top: 4em;
  }

  .splash .logo {
    width: 100px;
  }

  .splash h1 {
    font-size: 2em;
  }

  #banner {
    margin-bottom: 2em;
    text-align: center;
  }
}
/*конец кодов из бутстраповской темы*/

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}
*:-moz-placeholder {
  color: #666;
  opacity: 1;
}
*::-moz-placeholder {
  color: #666;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}


header {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 18px;
  height: 60px;
}

a.logo {
  background: image-url("logo.png") no-repeat; /* Путь к файлу с исходным  рисунком */
  margin-top: 30px;
  display: inline-block;
}

.company {
  margin-top: 22px;
  opacity: 1;
  margin-bottom: 30px;
}
.company a {
  padding: 13px;
  text-decoration: none;
  color: #7f7f7f;
}
.company:hover {
  opacity: 1;
}
.alerts {
  margin-top: 35px;
}
/* Left Menu Btn */
.menu-btn {
  margin-top: 22px;
  color: #7f7f7f;
  text-align: right;
}
.menu-btn:hover {
  background: rgba(197, 255, 91, 0.35);
}
.menu-btn img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 8px;
}
.menu-btn a {
  padding: 13px;
  text-decoration: none;
  color: #7f7f7f;
}
.menu-btn a:hover {
  color: #7f7f7f;
}

/*  end left menu  */

.content h2 {
  margin-top: 160px;
  margin-bottom: 30px;
}


/*   правая колонка и выноски   */

.factoid {
  width: 180px;
  height: 160px;
  border: 4px solid #6aca6b;
  text-align: center;
  padding: 14px;
  margin: auto;
}
.level span {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 0;
  color: #6aca6b;
}
.level h3 {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 62px;
  line-height: 0.7;
  color: #6aca6b;
}
.level p {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.9;
  color: #e7e4e4;
}
.coins {
  margin-left:16px;
  padding-top: 16px;
  color: #e7e4e4;
  width: 120px;
  text-align: left;
  line-height: 1.2;
}
.coins span {
  padding-left: 7px;
  font-family: 'ProximaNova-reg', 'Proxima Nova', sans-serif;
  font-weight: 400;
}
.coins img {
  width: 25px;
  height: 25px;
  float: left;
  margin-top: 9px;
}

/*   конец правой колонки и выносок   */

.task {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-top: 20px;
  line-height: 0.8;
  background-color: #f9f5e4;
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
}
.task p {
  margin-bottom: 10px;
}











/*  Footer  */
footer{
  background: #3b3b3b;
  padding: 50px 0;
  overflow: hidden;
}

footer .f_cols{
  width: 270px;
  height: auto;
  float: left;
  margin-left: 40px;
}

footer .f_cols:first-child{
  margin-left: 0;
}

footer .f_cols h3{
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

footer .f_cols p{
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #ebebeb;
  margin-bottom: 20px;
}

footer .f_cols span.phone{
  display: block;
  font-weight: 600;
  color: #ebebeb;
}

footer .f_cols a{
  display: inline-block;
  color: #b5b5b5;
}

footer .f_cols a:hover{
  color: #ebebeb;
}

footer .f_cols ul li{
  list-style: none;
  margin-bottom: 6px;
}


footer .f_cols ul li a{
  text-decoration: none;
  color: #ebebeb;
  font-family: sans-serif;
  font-weight: 500;
  border-bottom: 1px #3b3b3b solid;
}


footer .f_cols ul li a:hover{
  border-bottom: 1px #ebebeb solid;
  font-family: sans-serif;
}
/*  Footer  end */



/*  Billoard  */

.billboard{
  width: 100%;
  height: 650px;
  background: image_url("billboard.jpg") no-repeat center center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.billboard .caption a i{
  width: 17px;
  height: 5px;
  display: inline-block;
  background: image_url("right_arrow.png") no-repeat;
  margin: 0 0 4px 6px;
}

.billboard .caption a:hover i{
  background: image_url("right_arrow_black.png") no-repeat;
}

/*  Billoard  end */



/*  Recent work  */
.recent_work{
  margin-bottom: 100px;
  overflow: hidden;
  text-align: center;
}

.recent_work h3.S_title{
  font-family: sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #4d4d4d;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}

.recent_work .work{
  margin: 0 20px;
  display: inline-block;
  width: 262px;
  height: 320px;
  overflow: hidden;
  position: relative;
  margin-right: 50px;

}

.recent_work .work:last-child{
  margin-right: 0;
}

.recent_work a.work_img{
  width: 262px;
  height: 320px;
  background: #a9ff2b;
  position: relative;
}

.recent_work a.work_title{
  display: inline-block;
  text-decoration: none;
  width: 262px;
  background: rgba(59, 59, 59, .8);
  position: relative;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 25px 0;
  bottom: 0;
}

.recent_work .work:hover a.work_title{
  bottom: 66px;
}

.recent_work .work_title i{
  display: inline-block;
  width: 13px;
  height: 5px;
  background: image_url("work_arrow.png") no-repeat;
  margin: 0 0 2px 8px;
}
/*  Recent work  end*/


.work_us .work_content {
  display: inline-block;
  margin-top: 80px;
  height: 237px;
  background: image_url("work-map.png") no-repeat;
  background-size: contain;
  background-position-x: 90px;
  padding-bottom: 40px;
}




#box .close{
  width: 40px;
  height: 40px;
  display: block;
  background: image_url("close1.png") no-repeat;
  right: -19px;
  top: -19px;
  position: absolute;
}

#dbox .close{
  width: 40px;
  height: 40px;
  display: block;
  background: image_url("close1.png") no-repeat;
  right: -19px;
  top: -19px;
  position: absolute;
}



.well p {
  margin-top: 30px;
  margin-bottom: 8px;
}
.well legend {
  margin-top: 30px;
}


/*   конец стилей странички profile.html   */