/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.factoid {
	    margin: 30px auto;
	}
	.coins img {
		margin-bottom: 15px;
	}
	.menu-btn a {
    display: none;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.content h2 {
	 	font-size: 26px;
	}
	.company a {
		padding: 8px;
	}
	a.cource-name {
		font-size: 14px;
	}
	a.cource-name span {
		display: none;
	}
	.content h2 {
    margin-top: 100px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.foottext span {
    display: none;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.content p{
	    padding-right: 20% !important;
	}
}