<p>Привет!</p>

На связи Айнур Абдулнасыров. Как и обещал, запускаем квест-игру на тему технологического предпринимательства!</p>

<p>Для того, чтобы принять участие в игре сделай следующее:</p>
<ol>
  <li>Ознакомься с <a href="http://dai5.level90.net/pages/rules" target="_blank">правилами игры на главной</a></li>
  <li>Придумай пароль и войди в игру по <%= link_to "данной ссылке", accept_invitation_url(@resource, invitation_token: @token) %></li>
</ol>

<p>Каждый день тебе и твоей команде будут приходить небольшие задания, за которые вы будете получать орешки. По итогам, у кого их больше — та команда и победит.</p>

<p>Кроме того, Вы научитесь создавать крутые технологичные продукты и бизнесы: сайты, приложения, игры или гаджеты!</p>

<p>Удачи в игре, удовольствия и отличных результатов!</p>

<p>Если Вам что-то непонятно или Вы встретили какую-то ошибку или баг - пишите на адрес support@level90.ru</p>
