<p>Привет!</p>

<p>Кто-то, возможно это был ты, попросил изменить твой пароль».
Ты можешь сделать это тут — <%= link_to "ссылка", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если это был не ты, просто не обращай внимания на это письмо.</p>

<p>Успехов!

