- if current_user
  footer style='background: #3b3b3b; padding-top: 20px;'
    .wrapper
      .f_cols
        h3 Контакты
        p
          | 420094, г.Казань,
          br
          | ул.Маршала Чуйкова 15Б
          span.phone (843) 526-60-41
        a.map href="https://yandex.ru/maps/43/kazan/?mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fll%3D49.114594%252C55.836707%26spn%3D0.001%252C0.001%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2B%25D0%25A0%25D0%25B5%25D1%2581%25D0%25BF%25D1%2583%25D0%25B1%25D0%25BB%25D0%25B8%25D0%25BA%25D0%25B0%2B%25D0%25A2%25D0%25B0%25D1%2582%25D0%25B0%25D1%2580%25D1%2581%25D1%2582%25D0%25B0%25D0%25BD%252C%2B%25D0%259A%25D0%25B0%25D0%25B7%25D0%25B0%25D0%25BD%25D1%258C%252C%2B%25D1%2583%25D0%25BB%25D0%25B8%25D1%2586%25D0%25B0%2B%25D0%259C%25D0%25B0%25D1%2580%25D1%2588%25D0%25B0%25D0%25BB%25D0%25B0%2B%25D0%25A7%25D1%2583%25D0%25B9%25D0%25BA%25D0%25BE%25D0%25B2%25D0%25B0%252C%2B15%25D0%2591&ll=49.114588%2C55.836706&z=16"
          | посмотреть на карте
          span.arrow &nbsp;&rarr;
      .f_cols
        h3 Ассоциация
        ul
          li
            a href="#"  О нас
          li
            a href="#"  Услуги
          li
            a href="#"  Инфоцентр
      .f_cols
        h3 Поддержка
        ul
          li
            a href="#"  Вопросы и ответы
          li
            a href="#"  Contact Us
          li
            a href="#"  Policies
      .f_cols
        h3 Информация
        p Копирование и переработка любых материалов этого сайта для публичного использования их (размещение на других сайтах, публикации в печатных изданиях, и проч.) разрешается исключительно при получени письменного согласия от автора на копирование материалов