- if current_user
  .header.custom_head
    .container
      .row
        .col-xs-6.col-sm-6.col-md-6.col-lg-6
          .company

            = link_to root_url, style: 'font-size: 24px;'
              = image_tag 'logo.svg'

        .col-xs-4.col-sm-6.col-md-6.col-lg-6
          .menu-btn
            a href="#"
              = "#{current_user.first_name} #{current_user.last_name}"
            = image_tag 'ava.svg'
            span class="caret"
