nav class="pushy pushy-right"
  ul
    li class="pushy-link"
      a href="#"
        = image_tag "close.png", height: 24, width: 24
    li
      = link_to "Мои курсы", episodes_url
    li
      = link_to "Выход", destroy_user_session_url, method: :delete

.site-overlay
