<!DOCTYPE html>
<html>
<head>
  <title>Дистанционное обучение по охране труда и пожарно-техническому минимуму | МАОТ Казань</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="yandex-verification" content="f29e3176f82ed213" />
  <meta name="description" content="Зарегистрируйтесь и самостоятельно пройдите обучение по охране труда без отрыва от производства"> 
  <meta name="Keywords" content="Дистанционное обучение по охране труда, дистанционное обучение специалиста +по охране труда, обучение охране труда руководителей дистанционно, дистанционное обучение по охране труда в казани"> 
  <%= stylesheet_link_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "navigation" %>
  <%= render "header" %>
  <div class="container-footer-padding">
    <%= yield %>
  </div>
  <%= render 'application/footer'%>

  <%= javascript_include_tag 'application' %>
</body>
</html>
