<!DOCTYPE html>
<html>
<head>
  <title>Добро пожаловать!</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic,cyrillic-ext" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <style type="text/css">
      body{
          background: url(<%= asset_path('board_back.jpg') %>) no-repeat center center;
      }
      .checkbox label, .label {
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
      line-height: 1.75em;
    }
     .signtitle {
          font-family: 'Open Sans',sans-serif;
          font-weight: 600;
          font-size: 25pt;
          margin-top: 170px;
          margin-bottom: 25px;
          color: white;
          text-align: center;
      }
      .signform {
          padding-top: 40px;
          padding-bottom: 30px;
          padding-left: 30px;
          padding-right: 30px;
          background-color: #f9f5e4;
          border-radius: 5px;
      }
      .signform p .notice{
          margin-top: 5px;
          padding-left: 30px;
          padding-right: 30px;
      }
      @media (max-width: 600px) {
          .signform {
              padding-left: 20px !important;
              padding-right: 20px !important;
          }
      }
      .vertical-offset-100{
        padding-top:5px;
    }
  </style>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">

        <h1 class="signtitle">Добро&nbsp;пожаловать!</h1>
    </div>
    </div>
</div>


<div class="container">
  <div class="row vertical-offset-100">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 signform">
      <%= yield %>
    </div>
  </div>
</div>

<div class="container">
  <% if alert || notice %>
    <div class="row" style="margin-top: 30px;">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div style="text-align: center;" class="alert alert-dismissible alert-danger">
          <%= alert %>
          <%= notice %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</body>
</html>
